<div class="wrapper">
  <div class="listing-page">
    <!-- Page Title -->
    <div class="page-heading">
      <h1>Product Listing</h1>
      <button
        [routerLink]="['/admin/product/add']"
        routerLinkActive="router-link-active"
        class="btn btn-primary btn-top"
      >
        <span class="material-symbols-outlined"> add </span> Product
      </button>
    </div>

    <div class="table table-responsive mt-5">
      <table class="table">
        <thead>
          <tr>
            <td>Hotel Name</td>
            <td>Type</td>
            <td>Address</td>
            <td>About</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productList; let i = index">
            <td>{{ product?.name }}</td>
            <td>{{ product?.type }}</td>
            <td>{{ product?.address }}</td>
            <td>{{ product?.about }}</td>
            <td class="btn-group gap-2">
              <button
                class="btn btn-outline-success"
                [routerLink]="['/admin/hotel/edit', i]"
                routerLinkActive="router-link-active"
              >
                <span class="material-symbols-outlined"> edit </span>
              </button>
              <button class="btn btn-outline-danger">
                <span class="material-symbols-outlined"> delete </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
