<div class="wrapper">
  <div class="listing-page">
    <!-- Page Title -->
    <div class="page-heading">
      <h1>Order Listing</h1>
      <button
        [routerLink]="['/admin/order/add']"
        routerLinkActive="router-link-active"
        class="btn btn-primary btn-top"
      >
        <span class="material-symbols-outlined"> add </span> Order
      </button>
    </div>

    <div class="table table-responsive mt-5">
      <table class="table">
        <thead>
          <tr>
            <td>Customer Name</td>
            <td>Customer Mobile</td>
            <td>Products</td>
            <td>Total Amount</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderList; let i = index">
            <td>{{ order.customerName }}</td>
            <td>{{ order.customerMobileName }}</td>
            <td>
              <div *ngFor="let product of order.productList">
                {{ product.name }}
              </div>
            </td>
            <td>{{ order.totalAmount }}</td>
            <td class="btn-group gap-2">
              <button class="btn btn-outline-success">
                <span class="material-symbols-outlined"> edit </span>
              </button>
              <button class="btn btn-outline-danger">
                <span class="material-symbols-outlined"> delete </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
