<div class="wrapper">
  <div class="listing-page">
    <!-- Page Title -->
    <div class="page-heading">
      <h1>Hotel Listing</h1>
      <button
        [routerLink]="['/admin/hotel/add']"
        routerLinkActive="router-link-active"
        class="btn btn-primary btn-top"
      >
        <span class="material-symbols-outlined"> add </span> Hotel
      </button>
    </div>

    <div class="table table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Hotel Name</th>
            <th>Type</th>
            <th>Address</th>
            <th>About</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hotel of hotelList; let i = index">
            <td>{{ hotel.name }}</td>
            <td>{{ hotel.type }}</td>
            <td>{{ hotel.address }}</td>
            <td>{{ hotel.about }}</td>
            <td class="btn-group gap-2">
              <button
                class="btn btn-outline-success"
                [routerLink]="['/admin/hotel/edit/',hotel.id]"
                routerLinkActive="router-link-active"
              >
                <span class="material-symbols-outlined"> edit </span>
              </button>
              <button class="btn btn-outline-danger">
                <span class="material-symbols-outlined"> delete </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
