<div class="navbar">
  <div class="main-nav">
    <div class="logo">LOGO</div>
    <div class="search-bar">
      <div class="input-group">
        <input type="text" class="form-control" />
        <span class="material-symbols-outlined searchIcon"> search </span>
      </div>
    </div>
    <div class="card-order-section">
      <span class="cart-icon"
        ><span class="material-symbols-outlined"> shopping_cart </span></span
      >
      <span class="order-icon"
        ><span class="material-symbols-outlined"> list_alt </span></span
      >
    </div>
  </div>

  <div class="category-list-section">
    <ul class="category-list">
      <li class="category"
        *ngFor="let category of categoryList"
        (click)="setActiveCategory(category.id)"
      >
        {{ category.name }}
      </li>
    </ul>
  </div>
</div>
