<div class="navbar">
  <div class="main-nav">
    <div class="logo">LOGO</div>
    <div class="search-bar">
      <div class="input-group">
        <input type="text" />
        searchIcon
      </div>
    </div>
    <div class="card-order-section">
      <span class="cart-icon">cart</span>
      <span class="order-icon">order</span>
    </div>
  </div>

  <div class="category-list-section">
    <ul class="category-list">
      <li>abc asdf</li>
      <li>xyz 23rwe</li>
      <li>xyz as</li>
      <li>xyzas</li>
      <li>xyzf asdf</li>
    </ul>
  </div>
</div>
