<div class="wrapper">
  <div class="listing-page">
    <!-- Page Title -->
    <div class="page-heading">
      <h1>Add Product</h1>
    </div>
    <form [formGroup]="productForm">
      {{productForm.value | json}}
      <div class="form-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group mt-3" formGroupName="hotel">
              <label for="" class="form-label">Select Hotel</label>
              <select
                class="form-select"
                formControlName="id"
                name=""
                id=""
                [ngClass]="{
                  'is-invalid':
                    hotelControl['id'].invalid &&
                    (hotelControl['id'].dirty || hotelControl['id'].touched)
                }"

                (change)="getCategoryByHotel()"
              >
                <option [ngValue]="null">Please Select Hotel</option>
                <option *ngFor="let hotel of hotelList" [ngValue]="hotel.id">
                  {{ hotel.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group mt-3" formGroupName="category">
              <label for="" class="form-label">Select Type</label>
              <select
                class="form-select"
                formControlName="id"
                name=""
                id=""
                [ngClass]="{
                  'is-invalid':
                    categoryControl['id'].invalid &&
                    (categoryControl['id'].dirty ||
                      categoryControl['id'].touched)
                }"
              >
                <option [ngValue]="null">Please Select Category</option>
                <option
                  *ngFor="let category of categoryList"
                  [ngValue]="category.id"
                >
                  {{ category.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group mt-3">
              <label for="" class="form-label">Product Name</label>
              <input type="text" class="form-control" formControlName="name"/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group mt-3">
              <label for="" class="form-label">Price</label>
              <input type="number" class="form-control" formControlName="sellingPrice"/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group mt-3">
              <label for="" class="form-label">Discount Price</label>
              <input type="number" class="form-control" formControlName="offerPrice"/>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group mt-3">
              <label for="" class="form-label">Select Product Image</label>
              <input type="file" class="form-control" accept="image/*" (change)="onFileSelect($event)"/>
            </div>
          </div>

          

          <!-- <div class="col-md-12">
            <div class="form-group mt-3">
              <label for="" class="form-label">About</label>

              <textarea
                name=""
                id=""
                cols="30"
                rows="2"
                class="form-control"
              ></textarea>
            </div>
          </div> -->
        </div>

        <div class="d-flex justify-content-start gap-2 mt-5">
          <button type="submit" class="btn btn-primary col-2" (click)="submit()" >Submit</button>
          <button type="submit" class="btn btn-secondary col-2">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
