<app-navbar></app-navbar>
<div class="body">
  <div class="product-section" *ngIf="productList">
    <div class="card" *ngFor="let product of productList">
      <div class="imgBox">
        <img
          [src]="'./../../../../assets/products/' + product?.imageLabel"
          class="mouse"
        />
      </div>

      <div class="contentBox">
        <h3>{{ product?.name }}</h3>
        <h2 class="price">{{ product?.sellingPrice }} rs</h2>
        <button (click)="addToCart(product)" class="buy">+ Cart</button>
      </div>
    </div>
  </div>
  <div class="product-section" *ngIf="productList.length == 0">
    <div class="no-product-message">
      <h1>No Products Available For This Category</h1>
    </div>
  </div>
</div>
<app-footer></app-footer>
